.idea/
citybikes.iml

*.csv
*.pyc
.Rhistory
.RData

config.json

citybikes.db
data.json

log/

# Gradle
.gradle
/build/
gradle-app.setting
.gradletasknamecache

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# java out directory
out/

# config file containing the bot token
application.yml
